<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Предел Роста</title>
</head>
<body>
    <header>
        <h1>Предел Роста</h1>
    </header>
    <main>
        <div class="info">
            <h2>Город</h2>
            <p>{{town}}</p>
        </div>
        <div class="info">
            <h2>Температура</h2>
            <p>{{fact.temp}}</p>
        </div>
        <div class="info">
            <h2>Атмосферное давление</h2>
            <p>{{fact.pressure_mm}}</p>
        </div>
        <div class="info">
            <h2>Скорость ветра (м/с)</h2>
            <p>{{fact.wind_speed}}</p>
        </div>
        <div class="info">
            <div >
                <h2>Восход</h2>
                <p>{{forecast.sunrise}}</p>
            </div>
            <div >
                <h2>Закат</h2>
                <p>{{forecast.sunset}}</p>
        </div>
        </div>
    </main>
</body>
</html>