img {
    width: 300px;
    height: 200px;
}

body {

    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    text-align: center;
    padding: 20px;

}

h1 {
    font-size: 36px;
    text-shadow: 3px 2px #9d9da7;
    color: white;
}


.beauty, .weather {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
}

.info {
    width: 300px;
    height: 200px;
    margin: 10px;
    padding: 10px;
    background-color: #fff;
    color: #000;
    border-radius: 5px;
    font-size: 24px;
    text-align: center;
}

.beauty-img {
    max-height: 200px;
    margin: 10px;
    padding: 10px;
    background-color: #fff;
    color: #000;
    border-radius: 5px;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}